.edit-wrapper {
    padding: 50px;
    background-color: whitesmoke;
}

li{
    margin: 10px 0;
}

.code {
    background: lightgrey;
}

.edit-request-row  {
  margin: 8px 8px 8px 0;
}

.row-full-width {
  width: 30%;
}

table {
  width: 100%;
}

